<header id="media-section">
    <div class="dark-overlay">
        <div class="various-icons">
            
                <i class="fa fa-facebook"></i>
         </div>
        <div class="various-icons">
            <i class="fa fa-instagram"></i>
        </div>
        
        
</header>