
@import "bootstrap";
@import "font-awesome";


.barrycover {
    background-image: image_url('barry.jpg');
    background-position: center;
    height: 600px;
   
    
}

.adjustment {
    background: grey;
}